<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="List">
<head>
    <title>List (Task2)</title>
    <script src="../Libraries/angular.js"></script>
    <link href="../Libraries/bootstrap.css" rel="stylesheet" />
    <link href="../Libraries/bootstrap-theme.css" rel="stylesheet" />
    <script>
      angular.module("List", [])


      .controller("ListCtrl", function ($scope) {

           $scope.items = [
             { name: "B Item", price: 10.9, category: "Category 1", count: 10, tax: 1.12, expiration: 10 },
             { name: "A Item", price: 1.1, category: "Category 1", count: 8, tax: 0.55, expiration: 12 },
             { name: "D Item", price: 2.6, category: "Category 2", count: 7, tax: 0.22, expiration: 5 },
             { name: "C Item", price: 17.5, category: "Category 2", count: 33, tax: 2.77, expiration: 10 }];
             
             $scope.mode = {
                name: false,
                price: false,
                category: false,
                count: false,
                tax: false,
                expiration: false
             };
      });

    </script>

</head>
<body ng-controller="ListCtrl">

    <div class="container">

        <h3>List</h3>
    <div ng-switch on="mode.value">

        <table class="table">
            <thead >
                <tr>
                <th>
                    <label for="cnm">Name</label>
                    <input id="cnm" type="checkbox" class="checkbox" ng-model="mode.name"/></th>
                <th>
                    <label for="cprc">Price</label>
                    <input id="cprc" type="checkbox" class="checkbox" ng-model="mode.price"          ng-true-value="'price'" /></th>
                <th>
                    <label for="cctgr">Category</label>
                    <input id="cctgr" type="checkbox" class="checkbox" ng-model="mode.category"  ng-true-value="'category'"  /></th>
                <th>
                    <label for="ccnt">Count</label>
                    <input id="ccnt" type="checkbox" class="checkbox" ng-model="mode.count"          ng-true-value="'count'"/></th>
                <th>
                    <label for="ctx">Tax</label>
                    <input id="ctx" type="checkbox" class="checkbox" ng-model="mode.tax"                 ng-true-value="'tax'" /></th>
                <th>
                    <label for="cxp">Expiriation</label>
                    <input id="cxp" type="checkbox" class="checkbox" ng-model="mode.expiration"  ng-true-value="'expiration'" /></th>
                </tr>
            </thead>
            <tr ng-repeat="item in items">
                <td ng-switch on="mode.name">
                    <div ng-switch-when="false">
                        {{item.name}}
                    </div>
                </td>
                <td ng-switch on="mode.price">
                    <div ng-switch-when="false">
                        {{item.price}}
                    </div>
                </td>
                <td ng-switch on="mode.category">
                    <div ng-switch-when="false">
                        {{item.category}}
                    </div>
                </td>
                <td ng-switch on="mode.count">
                    <div ng-switch-when="false">
                        {{item.count}}
                    </div>
                </td>
                <td ng-switch on="mode.tax">
                    <div ng-switch-when="false">
                        {{item.tax}}
                    </div>
                </td>
                <td ng-switch on="mode.expiration">
                    <div ng-switch-when="false">
                        {{item.expiration}}
                    </div>
                </td>
            </tr>
        </table>

        

	</div>
    </div>
</body>
</html>
